:root{
    --primary-color: #FFCC66;
}

#output{
    display: block;
    border: 1px solid black;
    height:10vh;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}

#input-text{
    display: block;
    height:10vh;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}